body {
  margin: 0;
  font-family: 'Poppins' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ! important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-component{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#transition-modal-title{
  font-size: 1.75vw;
}
#transition-modal-description{
  font-size: 1vw;
}

